<!doctype html>
<html lang="{{ page.language | default: "ru" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

{% seo %}

    {% case page.language -%}
      {%- when "en" -%}
        <link rel="alternate" hreflang="ru" href="{{ page.name | replace: ".md", "-ru.html" }}">
      {%- when "ru" -%}
        <link rel="alternate" hreflang="en" href="{{ page.name | replace: "-ru.md", ".html" }}">
    {%- endcase %}
    {% if page.rss and page.rss != empty -%}
      <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{ page.dir | append: page.rss | absolute_url }}">
    {%- endif %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->

  </head>
  <body>
    <header>
      <h1>{{ page.title }}</h1>

      {% capture front_panel -%}
      {% case page.language -%}
        {%- when "en" -%}
          <a class="button" href="{{ page.name | replace: ".md", "-ru.html" }}"><strong><span lang="ru">Перейти на русский</span></strong></a>
        {%- when "ru" -%}
          <a class="button" href="{{ page.name | replace: "-ru.md", ".html" }}"><strong><span lang="en">Switch to English</span></strong></a>
      {%- endcase %}
      {% if page.rss and page.rss != empty -%}
        <a class="button" target="_blank" href="{{ page.rss }}">RSS</a>
      {%- endif -%}
      {%- endcapture -%}
      {% if front_panel contains "href" -%}
        <div class="front-panel">
          {{ front_panel }}
        </div>
      {%- endif %}
    </header>

    <div class="wrapper">
      <section>
        {{ content }}
      </section>
    </div>
  </body>
</html>
